 <div id="boxComments">
<p>
<h9>
  <%= comment.commenter %> </h9>
 <br> 
 </p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
  </p>
 
 <p>
  <%= link_to 'Delete Comment', [@user, comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>