<%= form_for([@article, @article.comments.build]) do |f| %>

  <p><font color="DodgerBlue" >
    <%= f.label :Comment %><br>
    <%= f.text_area :body %>
  </font></p>
  <p>
    <%= f.submit %>
  </p>
<% end %>