<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

p.diaaBio{
  font-family: cursive;
  position: relative;
  color:white;
  font-size: 22px;
  vertical-align: center;
padding: 20px;
right:240px;
}

.diaaimage {
    position: absolute;
    top: 150px; bottom:0; left: 410px; right:0;
    margin: auto;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px blue;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color:#FFFF00;
    
}
div.transbox p {
    font-size: 20px;
    margin: 5%;
    font-weight: italic bold;
    color: #000000;
}
</style>

<div class="container">

  <ul class="nav nav-tabs" role="tablist">

    <li><a href="#">Home</a></li>
    <li><%= link_to 'Blog' , user_articles_path %></li>
<li class="active"><%= link_to 'About Us', user_aboutus_intro_path %></li>
  </ul>
</div>


<div class ="container">

 <img src="/images/logo_6_ccc.png" width="150px" style="position:center; margin-left:950px;" >
  
<div class ="vision2">
<h6><i> -We Track Your Needs </i></h6>
</div>
</div>

<div class="diaaimage">
<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t35.0-12/11032290_10153063315555631_1361053137_o.jpg?oh=8b24b979a588d3b70e6f35e730636150&oe=54F1F584&__gda__=1425159125_c49be0a1d9a0af7858741053e676e2e3" class="img-rounded" alt="Cinque Terre" width="508" height="500">


<h2 class="rheem" >
<font color="yellow" face="Cursive" > Ahmed Abdalraheem's Biography </font></h2>

<p class="diaaBio" ></p>
</div>

</head>

</html>