<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px blue;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color:#FFFF00;
    
}
div.transbox p {
    font-size: 20px;
    margin: 5%;
    font-weight: italic bold;
    color: #000000;
}
</style>
<div class="container">

  <ul class="nav nav-tabs" role="tablist">

    <li><a href="#">Home</a></li>
    <li><%= link_to 'Blog' , user_articles_path %></li>
<li class="active"><%= link_to 'About Us', user_aboutus_intro_path %></li>
  </ul>
</div>
<div class ="container">
  <img src="http://i1065.photobucket.com/albums/u392/Dalia_Maarek/Logo_zpse7f4aa6d.png?996" width="700px" style="position:center; margin-left:220px;" >
  
  <div class="vision">
<h4><i> -We Track Your Needs </i></h4>
</div>

<div class="ch-item ch-img-3">        
    <div class="ch-info-wrap7">
      <div class="ch-info">
        <div class="ch-info-front ch-img-3"></div>
        <div class="ch-info-back">
          <h3>Dalia Maarek</h3>
          <p>Founder</p>
        </div>  
      </div>
    </div>
  </div>

</div>
</style>
</head>
<body>
  
  <div>
  <li>
    <h2><font color="yellow"> Biography </font></h2>
    <div>
    <p><font color="white" face"sans-serif"> Dalia Maarek is an Egyptian GUC student, currently studying Computer Science and Engineering. She enjoys drawing, coding and good music. She has one extremely smart cat called Eva. She is one of the seven exceptional co-founders of Cookies, and does not own a private jet.. or does she?
    </font></p>
  </li>
  </div>

</body>
</html>