<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px blue;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color:#FFFF00;
    
}
div.transbox p {
    font-size: 20px;
    margin: 5%;
    font-weight: italic bold;
    color: #000000;
}
</style>
<div class="container">

  <ul class="nav nav-tabs" role="tablist">

    <li><a href="#">Home</a></li>
    <li><%= link_to 'Blog' , articles_path %></li>
<li><%= link_to 'About Us', aboutus_intro_path %></li>
  </ul>
</div>
<div class ="container">
  <img src="http://i1065.photobucket.com/albums/u392/Dalia_Maarek/Logo_zpse7f4aa6d.png?996" width="700px" style="position:center; margin-left:220px;" >
  
  <div class="vision">
<h4><i> -We Track Your Needs </i></h4>
</div>

</div>
</head>









<body>



<div id="aboutus">
<h2>About Us </h2>
</div>

<!-- <div class="transbox">
 -->
<div class="aboutus-content">
<p><font color="white" face"sans-serif"> We use this website to introduce our company and ourselves to our customers. Through this website, our customers<br> can get all the information they need about the company's vision and general information. They can know about us, the founders, through our profiles and share their experiences and suggestions in our blog, as well.
</font></p>
</div>

<div id="mission">
<h2> Company's Mission </h2>
</div>

<div class="mission-content" >
<p><font color="white" face"sans-serif">Our mission is to ensure customer's satisfaction through providing superior quality innovative products.
 </p></font>
</div>

<div id="founders">
 <h2> The Founders </h2>
</div>


<ul class="ch-grid">
	<li>
	<div class="ch-item ch-img-1">				
		<div class="ch-info-wrap">
			<div class="ch-info">
				<div class="ch-info-front ch-img-1"></div>
				<div class="ch-info-back">
					<h3>Ahmed Diaa</h3>
					<p>Scrum master<a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
	
	<<li>
	<div class="ch-item ch-img-2">				
		<div class="ch-info-wrap2">
			<div class="ch-info">
				<div class="ch-info-front ch-img-2"></div>
				<div class="ch-info-back">
					<h3>Maggie Moheb</h3>
					<p>Founder<a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
<li>
	<div class="ch-item ch-img-3">				
		<div class="ch-info-wrap3">
			<div class="ch-info">
				<div class="ch-info-front ch-img-3"></div>
				<div class="ch-info-back">
					<h3>Abdelrahman ElZamzamy </h3>
					<p>Founder<a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
<li>
	<div class="ch-item ch-img-3">				
		<div class="ch-info-wrap4">
			<div class="ch-info">
				<div class="ch-info-front ch-img-3"></div>
				<div class="ch-info-back">
					<h3>Youmna Salah</h3>
					<p>Founder <a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
<li>
	<div class="ch-item ch-img-3">				
		<div class="ch-info-wrap5">
			<div class="ch-info">
				<div class="ch-info-front ch-img-3"></div>
				<div class="ch-info-back">
					<h3>Amir Maurice</h3>
					<p>Founder<a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
<li>
	<div class="ch-item ch-img-3">				
		<div class="ch-info-wrap6">
			<div class="ch-info">
				<div class="ch-info-front ch-img-3"></div>
				<div class="ch-info-back">
					<h3>Ahmad Abdulraheem</h3>
					<p>Founder<a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
	<li>
	<div class="ch-item ch-img-3">				
		<div class="ch-info-wrap7">
			<div class="ch-info">
				<div class="ch-info-front ch-img-3"></div>
				<div class="ch-info-back">
					<h3>Dalia Maarek</h3>
					<p>Founder<a href="">View Biography</a></p>
				</div>	
			</div>
		</div>
	</div>
</li>
</ul>

</body>