<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<body>
<div class="container">

  <ul  class="nav nav-tabs" role="tablist">
    <li><a href="#">Take A Tour</a></li>
    <li><%= link_to 'Blog', articles_path %> </li>
    <li><a href="#">The Team</a></li>
    <li><a href="#">About Us</a></li>
  </ul>
</div>
<div class ="container">
  <img src="/images/logo_6_ccc.png" width="700px" style="position:center; margin-left:220px;" >

</div>


<div class="container" style="position:fixed; left:550px; top:400px;">
  
  <a href ="/login">

  <button type="button" class="btn btn-primary btn-lg">Log In</button> </a>
 
</div>
<div class="container" style="position:fixed; left:700px; top:400px;">
<a href ="/signup">
 <button type="button" class="btn btn-success btn-lg">Sign Up</button></a>
</div>




</body>
</html>

