<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">The Team</a></li>
    <li><a href="#">About Us</a></li>
  </ul>
</div>
<div class="container" style="position:fixed;left:600px;top:300px;">
<font face="Papyrus" size="+1000">Hi, <%=@user.name%> :)</font></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>