/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
 	background: #EEEEEE;
 	background-image: url("http://st.depositphotos.com/2200898/2794/v/950/depositphotos_27946387-Classic-wallpaper-seamless-vintage-flower-pattern-background.jpg");
 	opacity: 0.8;
 	font-family: fantasy;
 	vertical-align: center;
 	padding-left: 30px;
 	
 	
 }
 h1{
 	
 	font-family: cursive;
 	background: #EEEEEE;
 	visibility: visible;
   background: -webkit-linear-gradient(white, gray); 
  	 -webkit-animation: fadein 2s;
  	
 }
 textarea{
 	width: 500px;
 	height: 500px;
 	
 }
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadeinn {
    from { opacity: 0.9; }
    to   { opacity: 1; }
}

 #box{
 	padding: 30px;
 	width: 340px;
 	text-align: center;
 	margin: 5px;
 	background-color: #DDDDFF;
 	opacity: 0.9;
 	filter: alpha(opacity=100);
 	background-position: center;
 	background-size: contain;
 	background-repeat: no-repeat;
 	text-decoration: blink;
 	float: left;
 	border-radius: 15%;
 	box-shadow: 10px 10px 10px 10px #ccc;
 }
 #box:hover{
 	padding: 20px;
 	width: 340px;
 	text-align: center;
 	margin: 5px;
 	background-color: #EEEEFF;
 	opacity: 1;
 	filter: alpha(opacity=100);
 	background-position: center;
 	background-size: contain;
 	background-repeat: no-repeat;
 	text-decoration: blink;
 	float: left;
 	 -webkit-animation: fadeinn 2s;
 }

 p{
 	
 	
 	opacity: 1;
 	width: 50%;
 	vertical-align: middle;
 }
 h4{
 	font-size: 15px;
 	font-weight: 900;
 	
 }

 button{
 	vertical-align: center;
 }
 